.buttons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    margin: auto;
    margin-top: 3%;
}
button{
    width: 126px;
    border-radius: 20px;
    height: 49px;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    transition-duration: 0.4s;
    border-color: solid black;
    border-width: 3px;
}
button:hover{
    background-color: white !important;
}
#github{
    background-color: rgb(186, 186, 186);
}
#pingpong{
    background-color: lightcoral;
}